:root {
    --primary-color: #4e4e4e4f;
    --secondary-color: #ff9800;
    --background-color: #333;
    --text-color: #333;
    --backfooter-color: #1c1c1c;
    --background-nav: white;
    --bg: #0f0f0f;
}
